@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
}
ul {
  display: flex;
  margin: 1rem;
  gap: 10px;
}
h1 {
  margin: 2rem;
  text-align: center;
}
table {
  margin: 0 0 0.5rem 1rem;
}

table td {
  padding: 0.7rem;
}

.nomor {
  width: 10px;
}
.nomor p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nim {
  width: 130px;
}
.nim p {
  display: flex;
  justify-content: center;
}

.nama {
  width: 250px;
}
.nama p {
  display: flex;
  justify-content: center;
}

.email {
  width: 230px;
}
.email p {
  display: flex;
  justify-content: center;
}

.jurusan {
  width: 210px;
}

.jurusan p {
  display: flex;
  justify-content: center;
}

.profil {
  width: 110px;
}

.profil p {
  display: flex;
  justify-content: center;
}

table th {
  padding: 0.5rem;
}
img {
  height: 100px;
  width: 100px;
  transition: ease-in-out 0.3s;
}

img:hover {
  transform: scale(1.5);
}
a {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 14px;
}

.logout {
  background-color: rgb(214, 60, 60);
  color: white;
  border-radius: 6px;
}

.logout:hover {
  background-color: rgb(232, 118, 118);
  transform: scale(1.05);
}
.tambah {
  background-color: rgb(60, 114, 214);
  color: white;
  border-radius: 6px;
}

.tambah:hover {
  transform: scale(1.05);
  background-color: rgb(126, 163, 232);
}

a img {
  height: 20px;
  width: 20px;
  padding: 2px;
  margin-right: 3px;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid black;
  width: 550px;
}
.search-bar img {
  height: 25px;
  width: 25px;
  padding: 5px;
}

.search-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 500px;
  border: none;
  background-color: transparent;
  outline: none;
}

.container-search {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
  gap: 10px;
}

.container-search button {
  padding: 8px 6px 8px 6px;
  border-radius: 10px;
  border: 1px solid rgb(46, 46, 46);
  transition: ease-in-out 0.5s;
}
.container-search button:hover {
  background-color: #548cdb;
  color: #ffffff;
}

.container-footer {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigasi {
  display: flex;
  gap: 10px;
}
.navigasi a {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid rgb(99, 99, 99);
}
.navigasi a:hover {
  background-color: rgb(149, 173, 218);
}

.navigasi img:hover {
  transform: scale(1);
}

.footer {
  margin: 1rem;
}
